{% extends "base.html" %}

{% block title %}Menu Items{% endblock %}

{% block content %}
<h2 class="my-4">Menu Items</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Menu Item</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        {% for item in menu_items %}
        <tr>
            <td>{{ item.item_name }}</td>
            <td>${{ item.price }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.category.category_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('main.add_menu_item') }}" class="btn btn-primary">Add New Menu Item</a>
{% endblock %}