<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="my-4">Orders</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Status</th>
                    <th>Menu Items</th>
                    <th>Order Created At</th> <!-- New column for order creation time -->
                    <th>Total Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.status }}</td>
                    <td>
                        <ul>
                            {% for order_item in order.order_items %}
                                <li>{{ order_item.menu_item.item_name }} - Quantity: {{ order_item.quantity }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ order.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td> <!-- Display order creation time -->
                    <td>${{ order.total_price }}</td>
                    <td>
                        {% if order.status == 'active' %}
                            <a href="{{ url_for('complete_order', id=order.id) }}" class="btn btn-success">Complete</a>
                        {% endif %}
                        <a href="{{ url_for('edit_order', id=order.id) }}" class="btn btn-warning">Edit</a> <!-- Edit button -->
                        <a href="{{ url_for('delete_order', id=order.id) }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('add_order') }}" class="btn btn-primary">Create New Order</a>
    </div>
</body>
</html>